<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/" data-trigger="focus" data-toggle="popover" data-placement="bottom" title="Express Note Taker" data-content="Create/Update/Delete and View Notes">Note Taker</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false"
            aria-controls="navigation" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navigation" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto is-pulled-right">
            <li class="nav-item pr-2"><a id="saveNote" class="nav-link" href="#" data-toggle="tooltip" data-placement="bottom" title="Save the current Note">Save&nbsp;&nbsp;&nbsp;<i class="fas fa-save text-light"></i></a></li>
            <li class="nav-item pr-2"><a id="addNote" class="nav-link" href="#" data-toggle="tooltip" data-placement="bottom" title="Add a new Note">Add&nbsp;&nbsp;&nbsp;<i class="fas fa-plus text-light"></i></a></li>
        </ul>
    </div>

</nav>